<div class="container">
    <div class="col-md-6 col-md-offset-3" ng-show="locationService.location !== ''">
        <div ng-hide="aqiResult.status !== 200">
            <div class="form-group row">
                Here is the Air Quality Rating for: <h2 class="font-weight-bold row">{{ locationService.location }}</h2>
            </div>
            <hr>
            <div class="row container-fluid" ng-repeat="(key, value) in aqiResult.result">
                <h4>{{ key }}:</h4>
                <h1>{{ value }}</h1>
            </div>
        </div>

        <div class="form-group row" ng-show="aqiResult.status < 200 || aqiResult.status > 200">
            We are facing problems with the weather server. Sorry!
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <div class="form-group row" ng-show="locationService.location === ''">
            <h2>There seems to have been a problem. No location entered.</h2>
            <a href="#/" class="btn btn-primary row center-block" >Go Back</a>
        </div>
    </div>
</div>